<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <div class="mb-4">
          <i class="feather icon-user-plus auth-icon"></i>
        </div>
        <form [formGroup]="newRegister">
          <h3 class="mb-4">Registrarse</h3>
          <h5 class="mb-4"> La cuenta debe ser institucional </h5>
          <div class="input-group mb-3">
            <input type="email" class="form-control" formControlName="email" placeholder="Correo electronico" />
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" formControlName="password" placeholder="Password" />
          </div>
          <div class="input-group mb-4">
            <input type="password" class="form-control" formControlName="confirmPassword"
                   placeholder="Reingrese Password" />
          </div>
          @if (newRegister.value.password !== newRegister.value.confirmPassword) {
            <div class="alert alert-danger" role="alert">
              Las contraseñas no coinciden!
            </div>
            <button class="btn btn-primary shadow-2 mb-4" disabled>Registrarse</button>
          } @else {
            <button class="btn btn-primary shadow-2 mb-4" [disabled]="!newRegister.valid" (click)="registrarCuenta()">Registrarse</button>
          }
        </form>
        <p class="mb-0 text-muted">
          Ya tienes cuenta?
          <a [routerLink]="['/auth/signin']">Log in</a>
        </p>
      </div>
    </div>
  </div>
</div>
