<div class="btn-group" style="width: 100%;" role="group" aria-label="Basic example">
  @for (asignatura of asignaturas; track asignatura.asignatura) {
    <button class="btn btn-primary" (click)="openModal('modalHistoria')">{{ asignatura.asignatura }}</button>
  }
</div>

<!-- Modal Historia -->
<div class="modal fade" id="modalHistoria" tabindex="-1" aria-labelledby="modalHistoriaLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalHistoriaLabel">Historia</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Contenido de Historia.
      </div>
    </div>
  </div>
</div>

<!-- Modal Matematica -->
<div class="modal fade" id="modalMatematica" tabindex="-1" aria-labelledby="modalMatematicaLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalMatematicaLabel">Matematica</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Contenido de Matematica.
      </div>
    </div>
  </div>
</div>
