<button type="button" class="btn btn-success" style="margin-bottom: 15px" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Agregar Cobros
</button>

<div class="accordion" id="pagoMensualidadCollapse">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#pagoMensualidad" aria-expanded="false" aria-controls="pagoMensualidad">
        Pago Mensualidad
      </button>
    </h2>
    <div id="pagoMensualidad" class="accordion-collapse collapse" data-bs-parent="#pafoMensualidadCollapse">
      <div class="accordion-body">
        <form [formGroup]="formRegisterMesual">
          <label for="MensualidadAlumnos">Seleccionado un Alumno</label>
          <select class="form-select" id="mensualidadAlumnos"
                  aria-label="Floating label select example" (change)="onSelectChange($event)">
            <option selected>Selecciona un Alumno</option>
            @for (alumnos of alumnosAdeudados; track alumnos.id) {
              <option value="{{ alumnos.id  }}">{{ alumnos.nombre }} {{ alumnos.apellido }}</option>
            }
          </select>

          <div>
            <label for="meses">Meses</label>
            <select class="form-select widthMitad" id="meses" formControlName="mes"
                    aria-label="Floating label select example" form>
              <option selected>Seleccionar mes</option>
              @for (meses of mesesPagar; track meses.mes) {
                @if (!mesesDisponible(meses.mes)) {
                  <option value="{{ meses.mes  }}">{{ meses.mes }}</option>

                }
              }
            </select>

            <label for="montoPago">Monto Pago</label>
            <input type="number" class="form-control widthMitad" id="montoPago" formControlName="monto" placeholder="$5.000">
          </div>


          @if (listaMeses.length > 0) {
            <h4 style="margin-top: 25px">Meses pagados</h4>
            <table class="table">
              <thead>
              <tr>
                <th scope="col">Mes</th>
                <th scope="col">Monto</th>
              </tr>
              </thead>
              <tbody>
                @for (meses of listaMeses; track meses.mes) {
                  <tr>
                    <td>{{ meses.mes }}</td>
                    <td>{{ meses.monto }}</td>
                  </tr>

                }
              </tbody>
            </table>
          }
          <button class="btn btn-success" (click)="guardarMensualidad()"> Guardar Mensualidad</button>
        </form>
      </div>
    </div>
  </div>
</div>





  <div class="accordion" style="margin-top: 30px" id="accordionExample">
    @for (cobros of listaOtrosCobros; track cobros.id) {
      <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#prueba' + cobros.idCobro"
                aria-expanded="false" aria-controls="collapseTwo" (click)="seleccionarCobro(cobros.id)">
          Pago {{ cobros.titulo }}
        </button>
      </h2>
      <div [attr.id]="'prueba' + cobros.idCobro" class="accordion-collapse collapse" [attr.data-bs-target]="'#prueba' + cobros.idCobro">
        <div class="accordion-body">
          <div class="form-floating">
            <form [formGroup]="formRegister">
              <label [attr.for]="'selectAlumno' + cobros.idCobro">Seleccionado un Alumno</label>
              <select class="form-select" [attr.id]="'selectAlumno' + cobros.idCobro" formControlName="idAlumno"
                      aria-label="Floating label select example">
                <option selected>Selecciona un Alumno</option>
                @for (alumnos of alumnosAdeudados; track alumnos.id) {
                  @if (!validUsuario(alumnos.id, cobros.infoPagoAlumno)) {
                    <option value="{{ alumnos.id  }}">{{ alumnos.nombre }} {{ alumnos.apellido }}</option>
                  }
                }
              </select>

              <label [attr.for]="'fechaPago' + cobros.idCobro">Fecha Registro</label>
              <input type="text" class="form-control" [attr.id]="'fechaPago' + cobros.idCobro" formControlName="fechaPago" placeholder="Fecha">

              <label [attr.for]="'montoPagado' + cobros.idCobro">Monto Pagado</label>
              <input type="text" class="form-control" [attr.id]="'montoPagado' + cobros.idCobro" formControlName="monto"
                     placeholder="name@example.com">

              <button class="btn btn-success" (click)="guardarRegistroPago(cobros.id)"> Guardar Registro</button>
            </form>
          </div>
        </div>
      </div>
    </div>
}
  </div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Cobro</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formCobro">
          <div class="form-floating separacion">
            <select class="form-select" id="selectaActivated" aria-label="Floating label select example" formControlName="activo">
              <option selected>Seleccionado una Opcion</option>
              <option value="true">Activar</option>
              <option value="false">Desactivar</option>
            </select>
            <label for="selectaActivated">Activacion</label>
          </div>
          <div class="form-floating mb-3 separacion">
            <input type="text" class="form-control" id="floatingInput" formControlName="titulo">
            <label for="floatingInput">Titulo</label>
          </div>
          <div class="form-floating separacion">
            <input type="text" class="form-control" id="floatingPassword" formControlName="montoCobrar">
            <label for="floatingPassword">Monto a cobrar</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="guardarCobro()" [disabled]="!formCobro.valid">Guardar Cobro</button>
      </div>
    </div>
  </div>
</div>
