<form [formGroup]="formGastosGenerales">
<div class="mb-3">
  <label for="gasto" class="form-label">Gasto</label>
  <input type="text" class="form-control" id="gasto" formControlName="detalleGasto" placeholder="Parcela Paseo">
</div>
<div class="mb-3">
  <label for="montoGasto" class="form-label">Monto Gasto</label>
  <input type="text" class="form-control" id="montoGasto" formControlName="montoGasto" placeholder="$50.000">
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Cargar imagen</label>
  <input type="file" class="form-control" id="exampleFormControlInput1"  formControlName="img" accept="image/*"
         (change)="onFileChange($event)">
</div>
@if (base64Image !== '' && base64Image !== null) {
  <div style="text-align: center;">
    <img src="{{base64Image}}" alt="imagenBoleta" width="250px" height="250px">
  </div>
}
</form>
<button type="button" class="btn btn-primary" (click)="guardarGastoConFoto()">Guardar Gastos generales
</button>

<h1 style="text-align: center">Gastos Generales</h1>

@for (gastos of gastosGenerales; track gastos.id) {
  <div class="card">
    <div class="card-body d-flex justify-content-between align-items-center">
      <div class="flex-column">
     <h3>Detalle Gasto: {{gastos.detalleGasto}}</h3>
     <h4>Monto Gasto: $ {{gastos.montoGasto}}</h4>
    </div>
      <div>
        <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modalImgGasto" (click)="imgGasto(gastos.foto)">Ver Pago</button>
      </div>
    </div>
  </div>
}


<!-- Modal Img Gasto -->
<div class="modal fade" id="modalImgGasto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <img src="{{urlImg}}" alt="imgGasto" width="100%" height="100%">
      </div>
    </div>
  </div>
</div>
